.container {
	position: sticky;
	top: 0;
	left: 0;
	margin: 0;
	padding: 4px 20px;
	min-height: 70px;
	display: grid;
	grid-template-columns: 80% 15%;
	grid-template-rows: 100%;
	align-items: center;
	gap: 8px;
	background: var(--primary);
	z-index: 9998;
	transition: all 400ms;
}

.container div {
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container div .nav-btn {
	width: 32px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: var(--primary);
	border: 2px solid rgb(250, 250, 250);
	border-radius: 15%;
	outline: none;
	cursor: pointer;
	transition: all 250ms;
}

.container div .nav-btn:hover,
.container div .nav-btn:focus-visible {
	outline: none;
	color: var(--primary);
	background: rgb(250, 250, 250);
	border-color: var(--primary);
}

.container div h1 {
	margin: 0;
	margin-left: 16px;
	padding: 0;
	font-size: clamp(0.9em, 3vw, 2em);
	color: rgb(250, 250, 250);
}

.container a {
	position: relative;
	display: flex;
	align-items: center;
	justify-self: end;
	outline: none;
	opacity: 0;
	visibility: hidden;
	transform: translateX(70%);
	transition: all 350ms;
}

.container a .profile-info {
	position: absolute;
	padding: 4px 8px;
	padding-right: 32px;
	display: flex;
	flex-direction: column;
	align-items: start;
	color: black;
	background: linear-gradient(
		to right,
		rgba(250, 250, 250, 0.9) 0%,
		rgba(250, 250, 250, 0.5) 100%

	);
	opacity: 0;
	border-radius: 4px;
	transform: translateX(-85%);
	transition: all 350ms;
}

.container a:hover .profile-info,
.container a:focus-within .profile-info {
	opacity: 1;
	transform: translateX(-90%);
	box-shadow: -2px 2px 5px rgba(100, 100, 100, 0.3);
}

@media (max-width: 560px) {
	.container a .profile-info {
        padding: 4px 8px;
		background: linear-gradient(
			to top,
			rgba(250, 250, 250, 0.9) 0%,
			rgba(250, 250, 250, 0.7) 100
		);
		transform: translateX(-75%);
	}

	.container a:hover .profile-info,
	.container a:focus-within .profile-info {
		transform: translate(-75%, 45%);
	}
}

.container a .profile-info span:first-of-type {
	font-weight: 500;
}

.container a .profile-icon {
	width: 44px;
	aspect-ratio: 1/1;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	object-fit: cover;
	z-index: 2;

}
